@model IEnumerable<BanHangOnline.Models.EF.Product>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var str = "";
        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            str = img.Image;
        }
        <div class="product-item @item.ProductCategory.Alias">
            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@str" alt="@item.Title">
                </div>
                <div class="favorite favorite_left"></div>
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                <div class="product_info">
                    <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a></h6>
                    @if (item.PriceSale > 0)
                    {
                        <div class="product_price">@item.PriceSale<span>@item.Price</span></div>
                    }
                    else
                    {
                        <div class="product_price">@item.Price></div>
                    }
                </div>
            </div>
            <div id="quantity_value" style="display: none;">1</div>
            <div class="red_button add_to_cart_button"><a href="" class="btnAddToCart" data-id="@item.Id">add to cart</a></div>
        </div>
    }
}